* {
    box-sizing: border-box;
}

:root {
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --color-primary: #08A6E4;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --button-radius: 35px;
}

body {
    font-family: var(--font-open-sans);
}

.container {
    margin: 0 auto;
    width: 1352px;
}

a {
    text-decoration: none;
}

/*STYLOWANIE HEADERA*/
.header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header a.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
}
header .page-nav-list {
    display: flex;
}
header .page-nav-list li {
    padding: 0 25px;
}
header .page-nav-list li:last-child {
    padding-right: 0;
}

header .page-nav-list a {
    text-transform: uppercase;
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    letter-spacing: 0.1875rem;
    border-bottom: 4px solid transparent;
    padding: 28px 15px 22px;
/*    padding dla a tak ustawiony aby dolny border był tuż nad linia dolną */
}
header .page-nav-list a:hover {
    color: var(--color-black);
    cursor: pointer;
    border-color: var(--color-primary);
}
