* {
    box-sizing: border-box;
}

:root {
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --color-primary: #08A6E4;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-grey2: #F7F7F7;
    --color-shadow: rgba(7, 172, 230, .16);
    --button-radius: 35px;
}

body {
    font-family: var(--font-open-sans);
}

.container {
    margin: 0 auto;
    width: 1352px;
}

a {
    text-decoration: none;
}
.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
}

.btn {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-shadow);
}
.title {
    font-size: 2.25rem;
    color: var(--color-black);
    font-family: var(--font-raleway);
}


/*STYLOWANIE HEADERA*/
.header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page-nav-list {
    display: flex;
}
.page-nav-list li {
    padding: 0 25px;
}
.page-nav-list li:last-child {
    padding-right: 0;
}

.page-nav-list a {
    text-transform: uppercase;
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    letter-spacing: 0.205rem;
    border-bottom: 4px solid transparent;
    padding: 28px 15px 22px;
/*    padding dla a tak ustawiony aby dolny border był tuż nad linia dolną */
}
.page-nav-list a:hover {
    color: var(--color-black);
    cursor: pointer;
    border-color: var(--color-primary);
}

/*STYLOWANIE BANNERU, SEKCJI OTWIERAJĄCEJ*/

.banner-content {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-title {
    font-size: 3.0625rem;
    color: var(--color-black);
    font-family: var(--font-raleway);
    text-align: center;
    line-height: 57px;
}
.banner-text {
    color: var(--color-black);
    text-align: center;
    line-height: 22px;
    padding: 20px 0 38px;
}
.banner-btn {
    display: block;
    color: var(--color-white);
    font-weight: 700;
    padding: 23px 0 22px;
    text-align: center;
    width: 440px;
}
.banner-img {
    width: 100%;
}


/*SEKCJA STATISTICS*/
.statistics {
    margin-top: 100px;
}
.statistics-title {
    text-align: center;
    line-height: 42px;
}

.statistics-container {
    max-width: 823px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.statistics-box {
    margin-top: 101px;
    max-width: 160px;
}
.statistics-circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}
.statistics-box:nth-child(1) .statistics-circle {
    background-color: var(--color-redish);
}
.statistics-box:nth-child(2) .statistics-circle  {
    background-color: var(--color-primary);
}
.statistics-box:nth-child(3) .statistics-circle  {
    background-color: var(--color-green);
}

.statistics-img {
    position: absolute;
}
.statistics-box:nth-child(1) .statistics-img {
    top: 0;
    right: -12px;
}
.statistics-box:nth-child(2) .statistics-img {
    top: 15px;
    right: -20px;
}
.statistics-box:nth-child(3) .statistics-img {
    top: 5px;
    right: -25px;
}

.statistics-number {
    font-size: 1.25rem;
    font-family: var(--font-raleway);
    font-weight: 800;
    padding: 19px 0;
    letter-spacing: 0.1875rem;
    text-align: center;
}
.statistics-text {
    font-family: var(--font-raleway);
    color: var(--color-grey);
    text-align: center;
    padding: 0 15px;
}

/*SEKCJA BENEFITS*/
.benefits {
    background-color: var(--color-grey2);
    margin-top: 122px;
    padding: 105px 0;
}
.benefits-container {
    width:1124px;
    flex-direction: column;
    justify-content: center;
}
.benefits-box {
    background-color: var(--color-white);
    height: 370px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 70px 35px;
    margin-bottom: 37px;
}
.benefits-box:nth-child(2) {
    flex-direction: row-reverse;
}

.trumpet {
    margin-bottom: 0;
}

.benefits-content {
    max-width: 416px;
}
.benefits-title {
    line-height: 42px;
}
.phone .benefits-title {
    padding-right: 150px;
}

.benefits-text {
    padding-top: 20px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.benefits-text::after {
    content: "";
    display: block;
    width: 320px;
    height: 4px;
    background-color: var(--color-redish);
    position: absolute;
    top: 136px;
    left: 0;
}
.phone .benefits-text::after {
    background-color: var(--color-primary);
}
.trumpet .benefits-text::after {
    background-color: var(--color-green);
}
.benefits-img {
    height: auto;
}
.macbook .benefits-img {
    width: 385px;
}
.phone .benefits-img {
    width: 425px;
}
.trumpet .benefits-img {
    width: 295px;
}